
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@600;700&display=swap');


/* Shared styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color: rgba(249, 72, 178, 1), rgba(135, 88, 241, 1);
    --secondary-color: rgba(255, 66, 165, 1);
    --text-color: rgba(60, 53, 79, 1);
}
.btn-primary{
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: antiquewhite;
    cursor: pointer;
}

/* Navbar section styles */

.nav-container, .nav-menu, .nav-menu>ul {
    display: flex;
}
nav{
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    
}
.nav-container{
    padding-bottom: 20px;
    
}

.nav-logo{
    margin-left: 220px;
    margin-right: 330px;
    margin-top: 38px;
    text-align: center;
    display: flex;
}
.nav-logo>img{
    width: 80px;
    height: 40px;
    margin: 8px;
}
.nav-logo>span{
    font-size: 45px;
    font-weight: 700;
    color: var(--text-color);
}
.nav-logo>span>span{
    color: var(--secondary-color);
}
.nav-menu{
    margin-right: 240px;
    margin-top: 38px;   
}
.nav-menu>ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.nav-menu>ul>li>a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
}

.follow{
    display: flex;
    width: 260px;
    height: 56px;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f3f1fa;
    margin-left: 30px;
}
.follow>img{
    width: 28px;
    height: 18px;
    cursor: pointer;
}

/* Banner section styles */
.banner-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
    
}
.banner-images>img{
    width: 450px;
    height: 400px;
}
.banner-heading{
    margin-left: 110px;
    
}
.play{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text-color);
}
.goat{
    font-size: 95px;
    font-weight: 800;
    z-index: -1;
    background: linear-gradient(to right, #F948B2, #8758F1);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}
.banner-details{
    margin-bottom: 30px;
}
.banner-details>img{
   margin-top: 10px;
   margin-bottom: -8px;
   
}
.banner-details>small{
    margin-left: 10px;
    font-size: 16px;
    color: var(--text-color);
}
.btn>button{
    margin-right: 10px;
}
.btn-2{
    background-color: #4EC5F7;
}

/* Purpose section styles */

.purpose-section{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.purpose-images>img{
    width: 800px;
    height: 500px;
}
.purpose-details{
    text-align: right;
    margin-right: 40px;
}
.purpose-details>h1{
    font-size: 48px;
    font-weight: 700;
    z-index: -1;
    background: linear-gradient(to right, #F948B2, #8758F1);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
    
    
}
.purpose-details>p, small{
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    word-wrap: break-word;
    margin-bottom: 5px;
}
.purpose-details>button {
    margin-bottom: 20px;
}
.purpose-details>h2{
    color: var(--text-color);
}
/* footer section */

    footer{
        margin-top: 50px;
        height: auto;
        background-color: #0B0223;
        color: antiquewhite;
       

    }
    .footer-logo{
        margin-left: 220px;
        margin-right: 330px;
        margin-top: 38px;
        text-align: center;
        display: flex;
    }
    .footer-logo>img{
        width: 80px;
        height: 40px;
        margin: 8px;
    }
    .footer-logo>span{
        font-size: 45px;
        font-weight: 700;
        color: whitesmoke;
    }
    .footer-logo>span>span{
        color: var(--secondary-color);
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-menu>ul{
        display: flex;
        gap: 60px;
        list-style: none;
        margin-top: 30px;
    }
    .footer-menu>ul>li{
        text-decoration: none;
        cursor: pointer;
    }
    .social-icon>ul{
        display: flex;
        gap: 50px;
        margin-top: 30px;
        list-style: none;
        cursor: pointer;
    }
    
    .condition>ul{
        display: flex;
        gap: 40px;
        margin-top: 30px;
        list-style: none;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .condition>ul>il{
        text-decoration: none;
        width: 24px;
        height: 20px;
    }
    .footer-container>small{
        color: antiquewhite;
        margin-bottom: 40px;
    }
  
      /* online Game section styles */
      .game-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--text-color);
        
      }
      .game-details>h1>span{
        z-index: -1;
        background: linear-gradient(to right, #F948B2, #8758F1);
        -webkit-background-clip: text;
        color: transparent;
      }
      .game-details>h1{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .game-details>p{
        word-wrap: break-word;
      }
      .game-image{
        display: flex;
        align-items: center;
        justify-content: center;
      }
   .game-img>img{
    width: 200px;
    height: 250px;
    margin: 10px;
    margin-top: 40px;
    transition: .5s ease;
   }
   .game-img{
    position: relative;
    cursor: pointer;
    overflow: hidden;
   }
   .image-btn{
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 250px;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 10px;
    padding-top: 80px;
    visibility: hidden;
    border: 2px solid var(--secondary-color);
   
   }
   .image-btn>small{
    color: var(--secondary-color);
    
   }
   .game-img:hover .image-btn{
    visibility: visible;

   }
   .game-img >small{
    font-size: 12px;
    word-wrap: break-word;
    margin-top: 50px;
   }
   
   /* Game section styles */
   .game-item-section{
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 60px;
   }
   .game-item-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
   }
   .game-item>img{
        width: 50px;
        height: 50px;
   }
   .game-item{
    display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     gap: 10px;
     cursor: pointer;
   }
   .game-item:hover{
        border: 1px solid var(--secondary-color);
        border-radius: 50px;
        color: var(--secondary-color);
        
   }
   /* careers section styles */

   
   .careers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: whitesmoke;
   }
   .careers-details{
    margin-left: 140px;
   }
   .careers-details>h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
   }
   .careers-details>p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
   }
   .details{
    display: flex;
    align-items: center;
    gap: 50px;
   }
   .careers-images>img{
    width: 600px;
    height: 600px;
   }
   .btn-careers{
    background-color: whitesmoke;
    color: var(--secondary-color);
    margin-top: 30px;
    
   }
    
/* Responsive styles */

/* MObile responsive */
@media screen and (max-width: 576px) {
    
    /* Navbar section styles */
    nav{
        width: auto;
    }
    .nav-container, .nav-menu, .nav-menu>ul, .nav-menu>ul{
        flex-direction: column;
    }
    .nav-container{
        margin-left: 65px;
        margin-right: 30px;
        margin-top: 30px;
    }
    .nav-logo{
        margin-left: 40px;
        
    }
    .nav-menu{
        margin-right: 40px;
        margin-top: 50px; 
          
    }
    .follow{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* Banner styles */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-images>img{
        width: 300px;
        height: 300px;
        margin-bottom: 50px;
    }
    .banner-heading{
        margin-left: 10px;
        
    }
    /* Purpose section styles */
    .purpose-section{
        flex-direction: column;
        
    }
    .purpose-details{
        text-align: center;
        margin-left: 40px;
    }
    .purpose-images>img{
        width: 400px;
        height: 300px;
        margin-top: 50px;
    }
    /* footer section */

    footer{
       
        height: auto;
        background-color: #0B0223;
        color: antiquewhite;
    }
    .footer-logo{
        margin-left: 220px;
        margin-right: 260px;
    }
  
    .footer-menu>ul{
        display: grid;
        gap: 20px;
       grid-template-columns: repeat(3, 1fr);
    }
  
    .social-icon>ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        
    }
    
    .condition>ul{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    /* online game styles */
    .game-image {
        flex-direction: column;
    }
    .game-details>p{
        font-size: 1.5rem;
      }
   /* Game section styles */
   .game-item-section{
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
   }
   .game-item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 2px;
    
   }
   .game-item>img{
        width: 30px;
        height: 30px;
   }
   .game-item>span{
    font-size: 10px;

   }
   /* careers section styles */

   
   .careers-container{
    flex-direction: column;
   }
   .careers-details{
    margin: 20px;
   }
   .details{

    gap: 20px;
   }
   .careers-images>img{
    width: 400px;
    height: 400px;
   }
}


@media screen and (min-width:577px) and (max-width:960px) {
    
    .nav-container, .nav-menu, .nav-menu>ul, .nav-menu>ul{
        flex-direction: column;
    }
    nav{
        box-shadow: none;
    }
    .nav-container{
        margin-left: 65px;
        margin-right: 30px;
        margin-top: 30px;
    }
    .nav-logo{
        margin-left: 200px;
        margin-bottom: -30px;
        
    }
    .nav-menu{
        margin-right: 40px;
        margin-top: 50px; 
          
    }
    .follow{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 200px;
    }

    /* Banner styles */
    .banner-container{
        flex-direction: column;
    }
    .banner-images>img{
        width: 500px;
        height: 500px;
        margin-bottom: 50px;
    }
    .banner-heading{
        margin-left: 10px;
        
    }
      /* Purpose section styles */
      .purpose-section{
        flex-direction: column-reverse;
        
    }
    .purpose-details{
        text-align: justify;
        margin-left: 40px;
    }
    .purpose-images>img{
        width: 800px;
        height: 500px;
        margin-top: 50px;
    }
    .purpose-images>img{
        width: 500px;
        height: 400px;
        
    }
  
    /* footer section styles */
   
    .social-icon>ul{
        gap: 40px;
        
    }
    .footer-menu>ul{
        gap: 20px;
       
    }

     /* online game styles */
     .game-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
     /* Game section styles */
   .game-item-section{
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 10px;
    margin-right: 10px;
   }
   .game-item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-left: 2px;
    margin-right: 5px;
   }
   .game-item>img{
        width: 45px;
        height: 45px;
   }
   .game-item{
        padding-right: 5px;
   }
     /* careers section styles */

   
     .careers-container{
        flex-direction: column-reverse;
       }
       .careers-details{
        margin: 20px;
       }
       .details{
    
        gap: 40px;
       }
       .careers-images>img{
        width: 500px;
        height: 500px;
       }
  
  
}